/************   margin-left   ************/

.ml1 {
    margin-left: 1%;
}
.ml2 {
    margin-left: 2%;
}
.ml3 {
    margin-left: 3%;
}
.ml4 {
    margin-left: 4%;
}
.ml5 {
    margin-left: 5%;
}
.ml6 {
    margin-left: 6%;
}
.ml7 {
    margin-left: 7%;
}
.ml8 {
    margin-left: 8%;
}
.ml9 {
    margin-left: 9%;
}
.ml10 {
    margin-left: 10%;
}
.ml11 {
    margin-left: 11%;
}
.ml12 {
    margin-left: 12%;
}
.ml13 {
    margin-left: 13%;
}
.ml14 {
    margin-left: 14%;
}
.ml15 {
    margin-left: 15%;
}
.ml16 {
    margin-left: 16%;
}
.ml17 {
    margin-left: 17%;
}
.ml18 {
    margin-left: 18%;
}
.ml19 {
    margin-left: 19%;
}
.ml20 {
    margin-left: 20%;
}
.ml21 {
    margin-left: 21%;
}
.ml22 {
    margin-left: 22%;
}
.ml23 {
    margin-left: 23%;
}
.ml24 {
    margin-left: 24%;
}
.ml25 {
    margin-left: 25%;
}
.ml26 {
    margin-left: 26%;
}
.ml27 {
    margin-left: 27%;
}
.ml28 {
    margin-left: 28%;
}
.ml29 {
    margin-left: 29%;
}
.ml30 {
    margin-left: 30%;
}
.ml31 {
    margin-left: 31%;
}
.ml32 {
    margin-left: 32%;
}
.ml33 {
    margin-left: 33%;
}
.ml34 {
    margin-left: 34%;
}
.ml35 {
    margin-left: 35%;
}
.ml36 {
    margin-left: 36%;
}
.ml37 {
    margin-left: 37%;
}
.ml38 {
    margin-left: 38%;
}
.ml39 {
    margin-left: 39%;
}
.ml40 {
    margin-left: 40%;
}
.ml41 {
    margin-left: 41%;
}
.ml42 {
    margin-left: 42%;
}
.ml43 {
    margin-left: 43%;
}
.ml44 {
    margin-left: 44%;
}
.ml45 {
    margin-left: 45%;
}
.ml46 {
    margin-left: 46%;
}
.ml47 {
    margin-left: 47%;
}
.ml48 {
    margin-left: 48%;
}
.ml49 {
    margin-left: 49%;
}
.ml50 {
    margin-left: 50%;
}
.ml51 {
    margin-left: 51%;
}
.ml52 {
    margin-left: 52%;
}
.ml53 {
    margin-left: 53%;
}
.ml54 {
    margin-left: 54%;
}
.ml55 {
    margin-left: 55%;
}
.ml56 {
    margin-left: 56%;
}
.ml57 {
    margin-left: 57%;
}
.ml58 {
    margin-left: 58%;
}
.ml59 {
    margin-left: 59%;
}
.ml60 {
    margin-left: 60%;
}
.ml61 {
    margin-left: 61%;
}
.ml62 {
    margin-left: 62%;
}
.ml63 {
    margin-left: 63%;
}
.ml64 {
    margin-left: 64%;
}
.ml65 {
    margin-left: 65%;
}
.ml66 {
    margin-left: 66%;
}
.ml67 {
    margin-left: 67%;
}
.ml68 {
    margin-left: 68%;
}
.ml69 {
    margin-left: 69%;
}
.ml70 {
    margin-left: 70%;
}
.ml71 {
    margin-left: 71%;
}
.ml72 {
    margin-left: 72%;
}
.ml73 {
    margin-left: 73%;
}
.ml74 {
    margin-left: 74%;
}
.ml75 {
    margin-left: 75%;
}
.ml76 {
    margin-left: 76%;
}
.ml77 {
    margin-left: 77%;
}
.ml78 {
    margin-left: 78%;
}
.ml79 {
    margin-left: 79%;
}
.ml80 {
    margin-left: 80%;
}
.ml81 {
    margin-left: 81%;
}
.ml82 {
    margin-left: 82%;
}
.ml83 {
    margin-left: 83%;
}
.ml84 {
    margin-left: 84%;
}
.ml85 {
    margin-left: 85%;
}
.ml86 {
    margin-left: 86%;
}
.ml87 {
    margin-left: 87%;
}
.ml88 {
    margin-left: 88%;
}
.ml89 {
    margin-left: 89%;
}
.ml90 {
    margin-left: 90%;
}
.ml91 {
    margin-left: 91%;
}
.ml92 {
    margin-left: 92%;
}
.ml93 {
    margin-left: 93%;
}
.ml94 {
    margin-left: 94%;
}
.ml95 {
    margin-left: 95%;
}
.ml96 {
    margin-left: 96%;
}
.ml97 {
    margin-left: 97%;
}
.ml98 {
    margin-left: 98%;
}
.ml99 {
    margin-left: 99%;
}
.ml100 {
    margin-left: 100%;
}

/************   margin-right   ************/


.mr1 {
    margin-right: 1%;
}
.mr2 {
    margin-right: 2%;
}
.mr3 {
    margin-right: 3%;
}
.mr4 {
    margin-right: 4%;
}
.mr5 {
    margin-right: 5%;
}
.mr6 {
    margin-right: 6%;
}
.mr7 {
    margin-right: 7%;
}
.mr8 {
    margin-right: 8%;
}
.mr9 {
    margin-right: 9%;
}
.mr10 {
    margin-right: 10%;
}
.mr11 {
    margin-right: 11%;
}
.mr12 {
    margin-right: 12%;
}
.mr13 {
    margin-right: 13%;
}
.mr14 {
    margin-right: 14%;
}
.mr15 {
    margin-right: 15%;
}
.mr16 {
    margin-right: 16%;
}
.mr17 {
    margin-right: 17%;
}
.mr18 {
    margin-right: 18%;
}
.mr19 {
    margin-right: 19%;
}
.mr20 {
    margin-right: 20%;
}
.mr21 {
    margin-right: 21%;
}
.mr22 {
    margin-right: 22%;
}
.mr23 {
    margin-right: 23%;
}
.mr24 {
    margin-right: 24%;
}
.mr25 {
    margin-right: 25%;
}
.mr26 {
    margin-right: 26%;
}
.mr27 {
    margin-right: 27%;
}
.mr28 {
    margin-right: 28%;
}
.mr29 {
    margin-right: 29%;
}
.mr30 {
    margin-right: 30%;
}
.mr31 {
    margin-right: 31%;
}
.mr32 {
    margin-right: 32%;
}
.mr33 {
    margin-right: 33%;
}
.mr34 {
    margin-right: 34%;
}
.mr35 {
    margin-right: 35%;
}
.mr36 {
    margin-right: 36%;
}
.mr37 {
    margin-right: 37%;
}
.mr38 {
    margin-right: 38%;
}
.mr39 {
    margin-right: 39%;
}
.mr40 {
    margin-right: 40%;
}
.mr41 {
    margin-right: 41%;
}
.mr42 {
    margin-right: 42%;
}
.mr43 {
    margin-right: 43%;
}
.mr44 {
    margin-right: 44%;
}
.mr45 {
    margin-right: 45%;
}
.mr46 {
    margin-right: 46%;
}
.mr47 {
    margin-right: 47%;
}
.mr48 {
    margin-right: 48%;
}
.mr49 {
    margin-right: 49%;
}
.mr50 {
    margin-right: 50%;
}
.mr51 {
    margin-right: 51%;
}
.mr52 {
    margin-right: 52%;
}
.mr53 {
    margin-right: 53%;
}
.mr54 {
    margin-right: 54%;
}
.mr55 {
    margin-right: 55%;
}
.mr56 {
    margin-right: 56%;
}
.mr57 {
    margin-right: 57%;
}
.mr58 {
    margin-right: 58%;
}
.mr59 {
    margin-right: 59%;
}
.mr60 {
    margin-right: 60%;
}
.mr61 {
    margin-right: 61%;
}
.mr62 {
    margin-right: 62%;
}
.mr63 {
    margin-right: 63%;
}
.mr64 {
    margin-right: 64%;
}
.mr65 {
    margin-right: 65%;
}
.mr66 {
    margin-right: 66%;
}
.mr67 {
    margin-right: 67%;
}
.mr68 {
    margin-right: 68%;
}
.mr69 {
    margin-right: 69%;
}
.mr70 {
    margin-right: 70%;
}
.mr71 {
    margin-right: 71%;
}
.mr72 {
    margin-right: 72%;
}
.mr73 {
    margin-right: 73%;
}
.mr74 {
    margin-right: 74%;
}
.mr75 {
    margin-right: 75%;
}
.mr76 {
    margin-right: 76%;
}
.mr77 {
    margin-right: 77%;
}
.mr78 {
    margin-right: 78%;
}
.mr79 {
    margin-right: 79%;
}
.mr80 {
    margin-right: 80%;
}
.mr81 {
    margin-right: 81%;
}
.mr82 {
    margin-right: 82%;
}
.mr83 {
    margin-right: 83%;
}
.mr84 {
    margin-right: 84%;
}
.mr85 {
    margin-right: 85%;
}
.mr86 {
    margin-right: 86%;
}
.mr87 {
    margin-right: 87%;
}
.mr88 {
    margin-right: 88%;
}
.mr89 {
    margin-right: 89%;
}
.mr90 {
    margin-right: 90%;
}
.mr91 {
    margin-right: 91%;
}
.mr92 {
    margin-right: 92%;
}
.mr93 {
    margin-right: 93%;
}
.mr94 {
    margin-right: 94%;
}
.mr95 {
    margin-right: 95%;
}
.mr96 {
    margin-right: 96%;
}
.mr97 {
    margin-right: 97%;
}
.mr98 {
    margin-right: 98%;
}
.mr99 {
    margin-right: 99%;
}
.mr100 {
    margin-right: 100%;
}



/*************  margin-top       *******************/










.mt1 {
    margin-top: 1%;
}
.mt2 {
    margin-top: 2%;
}
.mt3 {
    margin-top: 3%;
}
.mt4 {
    margin-top: 4%;
}
.mt5 {
    margin-top: 5%;
}
.mt6 {
    margin-top: 6%;
}
.mt7 {
    margin-top: 7%;
}
.mt8 {
    margin-top: 8%;
}
.mt9 {
    margin-top: 9%;
}
.mt10 {
    margin-top: 10%;
}
.mt11 {
    margin-top: 11%;
}
.mt12 {
    margin-top: 12%;
}
.mt13 {
    margin-top: 13%;
}
.mt14 {
    margin-top: 14%;
}
.mt15 {
    margin-top: 15%;
}
.mt16 {
    margin-top: 16%;
}
.mt17 {
    margin-top: 17%;
}
.mt18 {
    margin-top: 18%;
}
.mt19 {
    margin-top: 19%;
}
.mt20 {
    margin-top: 20%;
}
.mt21 {
    margin-top: 21%;
}
.mt22 {
    margin-top: 22%;
}
.mt23 {
    margin-top: 23%;
}
.mt24 {
    margin-top: 24%;
}
.mt25 {
    margin-top: 25%;
}
.mt26 {
    margin-top: 26%;
}
.mt27 {
    margin-top: 27%;
}
.mt28 {
    margin-top: 28%;
}
.mt29 {
    margin-top: 29%;
}
.mt30 {
    margin-top: 30%;
}
.mt31 {
    margin-top: 31%;
}
.mt32 {
    margin-top: 32%;
}
.mt33 {
    margin-top: 33%;
}
.mt34 {
    margin-top: 34%;
}
.mt35 {
    margin-top: 35%;
}
.mt36 {
    margin-top: 36%;
}
.mt37 {
    margin-top: 37%;
}
.mt38 {
    margin-top: 38%;
}
.mt39 {
    margin-top: 39%;
}
.mt40 {
    margin-top: 40%;
}
.mt41 {
    margin-top: 41%;
}
.mt42 {
    margin-top: 42%;
}
.mt43 {
    margin-top: 43%;
}
.mt44 {
    margin-top: 44%;
}
.mt45 {
    margin-top: 45%;
}
.mt46 {
    margin-top: 46%;
}
.mt47 {
    margin-top: 47%;
}
.mt48 {
    margin-top: 48%;
}
.mt49 {
    margin-top: 49%;
}
.mt50 {
    margin-top: 50%;
}
.mt51 {
    margin-top: 51%;
}
.mt52 {
    margin-top: 52%;
}
.mt53 {
    margin-top: 53%;
}
.mt54 {
    margin-top: 54%;
}
.mt55 {
    margin-top: 55%;
}
.mt56 {
    margin-top: 56%;
}
.mt57 {
    margin-top: 57%;
}
.mt58 {
    margin-top: 58%;
}
.mt59 {
    margin-top: 59%;
}
.mt60 {
    margin-top: 60%;
}
.mt61 {
    margin-top: 61%;
}
.mt62 {
    margin-top: 62%;
}
.mt63 {
    margin-top: 63%;
}
.mt64 {
    margin-top: 64%;
}
.mt65 {
    margin-top: 65%;
}
.mt66 {
    margin-top: 66%;
}
.mt67 {
    margin-top: 67%;
}
.mt68 {
    margin-top: 68%;
}
.mt69 {
    margin-top: 69%;
}
.mt70 {
    margin-top: 70%;
}
.mt71 {
    margin-top: 71%;
}
.mt72 {
    margin-top: 72%;
}
.mt73 {
    margin-top: 73%;
}
.mt74 {
    margin-top: 74%;
}
.mt75 {
    margin-top: 75%;
}
.mt76 {
    margin-top: 76%;
}
.mt77 {
    margin-top: 77%;
}
.mt78 {
    margin-top: 78%;
}
.mt79 {
    margin-top: 79%;
}
.mt80 {
    margin-top: 80%;
}
.mt81 {
    margin-top: 81%;
}
.mt82 {
    margin-top: 82%;
}
.mt83 {
    margin-top: 83%;
}
.mt84 {
    margin-top: 84%;
}
.mt85 {
    margin-top: 85%;
}
.mt86 {
    margin-top: 86%;
}
.mt87 {
    margin-top: 87%;
}
.mt88 {
    margin-top: 88%;
}
.mt89 {
    margin-top: 89%;
}
.mt90 {
    margin-top: 90%;
}
.mt91 {
    margin-top: 91%;
}
.mt92 {
    margin-top: 92%;
}
.mt93 {
    margin-top: 93%;
}
.mt94 {
    margin-top: 94%;
}
.mt95 {
    margin-top: 95%;
}
.mt96 {
    margin-top: 96%;
}
.mt97 {
    margin-top: 97%;
}
.mt98 {
    margin-top: 98%;
}
.mt99 {
    margin-top: 99%;
}
.mt100 {
    margin-top: 100%;
}



/**************   margin-bottom    ****************/









.mb1 {
    margin-bottom: 1%;
}
.mb2 {
    margin-bottom: 2%;
}
.mb3 {
    margin-bottom: 3%;
}
.mb4 {
    margin-bottom: 4%;
}
.mb5 {
    margin-bottom: 5%;
}
.mb6 {
    margin-bottom: 6%;
}
.mb7 {
    margin-bottom: 7%;
}
.mb8 {
    margin-bottom: 8%;
}
.mb9 {
    margin-bottom: 9%;
}
.mb10 {
    margin-bottom: 10%;
}
.mb11 {
    margin-bottom: 11%;
}
.mb12 {
    margin-bottom: 12%;
}
.mb13 {
    margin-bottom: 13%;
}
.mb14 {
    margin-bottom: 14%;
}
.mb15 {
    margin-bottom: 15%;
}
.mb16 {
    margin-bottom: 16%;
}
.mb17 {
    margin-bottom: 17%;
}
.mb18 {
    margin-bottom: 18%;
}
.mb19 {
    margin-bottom: 19%;
}
.mb20 {
    margin-bottom: 20%;
}
.mb21 {
    margin-bottom: 21%;
}
.mb22 {
    margin-bottom: 22%;
}
.mb23 {
    margin-bottom: 23%;
}
.mb24 {
    margin-bottom: 24%;
}
.mb25 {
    margin-bottom: 25%;
}
.mb26 {
    margin-bottom: 26%;
}
.mb27 {
    margin-bottom: 27%;
}
.mb28 {
    margin-bottom: 28%;
}
.mb29 {
    margin-bottom: 29%;
}
.mb30 {
    margin-bottom: 30%;
}
.mb31 {
    margin-bottom: 31%;
}
.mb32 {
    margin-bottom: 32%;
}
.mb33 {
    margin-bottom: 33%;
}
.mb34 {
    margin-bottom: 34%;
}
.mb35 {
    margin-bottom: 35%;
}
.mb36 {
    margin-bottom: 36%;
}
.mb37 {
    margin-bottom: 37%;
}
.mb38 {
    margin-bottom: 38%;
}
.mb39 {
    margin-bottom: 39%;
}
.mb40 {
    margin-bottom: 40%;
}
.mb41 {
    margin-bottom: 41%;
}
.mb42 {
    margin-bottom: 42%;
}
.mb43 {
    margin-bottom: 43%;
}
.mb44 {
    margin-bottom: 44%;
}
.mb45 {
    margin-bottom: 45%;
}
.mb46 {
    margin-bottom: 46%;
}
.mb47 {
    margin-bottom: 47%;
}
.mb48 {
    margin-bottom: 48%;
}
.mb49 {
    margin-bottom: 49%;
}
.mb50 {
    margin-bottom: 50%;
}
.mb51 {
    margin-bottom: 51%;
}
.mb52 {
    margin-bottom: 52%;
}
.mb53 {
    margin-bottom: 53%;
}
.mb54 {
    margin-bottom: 54%;
}
.mb55 {
    margin-bottom: 55%;
}
.mb56 {
    margin-bottom: 56%;
}
.mb57 {
    margin-bottom: 57%;
}
.mb58 {
    margin-bottom: 58%;
}
.mb59 {
    margin-bottom: 59%;
}
.mb60 {
    margin-bottom: 60%;
}
.mb61 {
    margin-bottom: 61%;
}
.mb62 {
    margin-bottom: 62%;
}
.mb63 {
    margin-bottom: 63%;
}
.mb64 {
    margin-bottom: 64%;
}
.mb65 {
    margin-bottom: 65%;
}
.mb66 {
    margin-bottom: 66%;
}
.mb67 {
    margin-bottom: 67%;
}
.mb68 {
    margin-bottom: 68%;
}
.mb69 {
    margin-bottom: 69%;
}
.mb70 {
    margin-bottom: 70%;
}
.mb71 {
    margin-bottom: 71%;
}
.mb72 {
    margin-bottom: 72%;
}
.mb73 {
    margin-bottom: 73%;
}
.mb74 {
    margin-bottom: 74%;
}
.mb75 {
    margin-bottom: 75%;
}
.mb76 {
    margin-bottom: 76%;
}
.mb77 {
    margin-bottom: 77%;
}
.mb78 {
    margin-bottom: 78%;
}
.mb79 {
    margin-bottom: 79%;
}
.mb80 {
    margin-bottom: 80%;
}
.mb81 {
    margin-bottom: 81%;
}
.mb82 {
    margin-bottom: 82%;
}
.mb83 {
    margin-bottom: 83%;
}
.mb84 {
    margin-bottom: 84%;
}
.mb85 {
    margin-bottom: 85%;
}
.mb86 {
    margin-bottom: 86%;
}
.mb87 {
    margin-bottom: 87%;
}
.mb88 {
    margin-bottom: 88%;
}
.mb89 {
    margin-bottom: 89%;
}
.mb90 {
    margin-bottom: 90%;
}
.mb91 {
    margin-bottom: 91%;
}
.mb92 {
    margin-bottom: 92%;
}
.mb93 {
    margin-bottom: 93%;
}
.mb94 {
    margin-bottom: 94%;
}
.mb95 {
    margin-bottom: 95%;
}
.mb96 {
    margin-bottom: 96%;
}
.mb97 {
    margin-bottom: 97%;
}
.mb98 {
    margin-bottom: 98%;
}
.mb99 {
    margin-bottom: 99%;
}
.mb100 {
    margin-bottom: 100%;
}




/****************       margin       *******************/



.m1 {
    margin: 1%;
}
.m2 {
    margin: 2%;
}
.m3 {
    margin: 3%;
}
.m4 {
    margin: 4%;
}
.m5 {
    margin: 5%;
}
.m6 {
    margin: 6%;
}
.m7 {
    margin: 7%;
}
.m8 {
    margin: 8%;
}
.m9 {
    margin: 9%;
}
.m10 {
    margin: 10%;
}
.m11 {
    margin: 11%;
}
.m12 {
    margin: 12%;
}
.m13 {
    margin: 13%;
}
.m14 {
    margin: 14%;
}
.m15 {
    margin: 15%;
}
.m16 {
    margin: 16%;
}
.m17 {
    margin: 17%;
}
.m18 {
    margin: 18%;
}
.m19 {
    margin: 19%;
}
.m20 {
    margin: 20%;
}
.m21 {
    margin: 21%;
}
.m22 {
    margin: 22%;
}
.m23 {
    margin: 23%;
}
.m24 {
    margin: 24%;
}
.m25 {
    margin: 25%;
}
.m26 {
    margin: 26%;
}
.m27 {
    margin: 27%;
}
.m28 {
    margin: 28%;
}
.m29 {
    margin: 29%;
}
.m30 {
    margin: 30%;
}
.m31 {
    margin: 31%;
}
.m32 {
    margin: 32%;
}
.m33 {
    margin: 33%;
}
.m34 {
    margin: 34%;
}
.m35 {
    margin: 35%;
}
.m36 {
    margin: 36%;
}
.m37 {
    margin: 37%;
}
.m38 {
    margin: 38%;
}
.m39 {
    margin: 39%;
}
.m40 {
    margin: 40%;
}
.m41 {
    margin: 41%;
}
.m42 {
    margin: 42%;
}
.m43 {
    margin: 43%;
}
.m44 {
    margin: 44%;
}
.m45 {
    margin: 45%;
}
.m46 {
    margin: 46%;
}
.m47 {
    margin: 47%;
}
.m48 {
    margin: 48%;
}
.m49 {
    margin: 49%;
}
.m50 {
    margin: 50%;
}
.m51 {
    margin: 51%;
}
.m52 {
    margin: 52%;
}
.m53 {
    margin: 53%;
}
.m54 {
    margin: 54%;
}
.m55 {
    margin: 55%;
}
.m56 {
    margin: 56%;
}
.m57 {
    margin: 57%;
}
.m58 {
    margin: 58%;
}
.m59 {
    margin: 59%;
}
.m60 {
    margin: 60%;
}
.m61 {
    margin: 61%;
}
.m62 {
    margin: 62%;
}
.m63 {
    margin: 63%;
}
.m64 {
    margin: 64%;
}
.m65 {
    margin: 65%;
}
.m66 {
    margin: 66%;
}
.m67 {
    margin: 67%;
}
.m68 {
    margin: 68%;
}
.m69 {
    margin: 69%;
}
.m70 {
    margin: 70%;
}
.m71 {
    margin: 71%;
}
.m72 {
    margin: 72%;
}
.m73 {
    margin: 73%;
}
.m74 {
    margin: 74%;
}
.m75 {
    margin: 75%;
}
.m76 {
    margin: 76%;
}
.m77 {
    margin: 77%;
}
.m78 {
    margin: 78%;
}
.m79 {
    margin: 79%;
}
.m80 {
    margin: 80%;
}
.m81 {
    margin: 81%;
}
.m82 {
    margin: 82%;
}
.m83 {
    margin: 83%;
}
.m84 {
    margin: 84%;
}
.m85 {
    margin: 85%;
}
.m86 {
    margin: 86%;
}
.m87 {
    margin: 87%;
}
.m88 {
    margin: 88%;
}
.m89 {
    margin: 89%;
}
.m90 {
    margin: 90%;
}
.m91 {
    margin: 91%;
}
.m92 {
    margin: 92%;
}
.m93 {
    margin: 93%;
}
.m94 {
    margin: 94%;
}
.m95 {
    margin: 95%;
}
.m96 {
    margin: 96%;
}
.m97 {
    margin: 97%;
}
.m98 {
    margin: 98%;
}
.m99 {
    margin: 99%;
}
.m100 {
    margin: 100%;
}
